<footer
    class="mx-auto mt-32 flex max-w-6xl flex-col items-center md:items-start gap-16 border-t py-16 md:flex-row px-8">
    <header class="flex shrink-0 flex-col items-center justify-center gap-2">
        <h1 class="font-display text-8xl">pksc</h1>
        <p class="bg-violet-900 px-2 text-xl tracking-wide text-white">
            สภานักเรียนโรงเรียนพังเคนพิทยา
        </p>
    </header>

    <section class="lg:grid w-max lg:w-full lg:grid-cols-2 gap-8 flex flex-col items-center md:items-start mx-auto *:items-center md:*:items-start">
        <nav class="flex w-max flex-col gap-2 *:border-b-2 *:border-transparent *:text-xl *:duration-100 *:w-max">
            <h2 class="bg-violet-900 p-2 py-1 font-bold text-white">ข้อมูล</h2>

            <a href="/article.html?id=20001" class="hover:border-b-violet-900">นโยบายการขับเคลื่อนและพัฒนา</a>
            <a href="/members.html" class="hover:border-b-violet-900">ทีมงานสภานักเรียน</a>
        </nav>

        <nav class="flex w-max flex-col gap-2 *:border-b-2 *:border-transparent *:text-xl *:duration-100 *:w-max">
            <h2 class="bg-violet-900 p-2 py-1 font-bold text-white">กิจกรรมและผลงาน</h2>

            <a href="" class="hover:border-b-violet-900">กิจกรรมภายในโรงเรียน</a>
            <a href="" class="hover:border-b-violet-900">ผลการดำเนินงาน</a>
        </nav>

        <nav class="flex w-max flex-col gap-2 *:border-b-2 *:border-transparent *:text-xl *:duration-100 *:w-max">
            <h2 class="bg-violet-900 p-2 py-1 font-bold text-white">โซเชียลมีเดีย</h2>

            <a href="https://www.facebook.com/pangken64" class="hover:border-b-violet-900">Facebook</a>
            <a href="https://www.instagram.com/pk601_eiei/" class="hover:border-b-violet-900">Instagram</a>
        </nav>

        <nav class="flex w-max flex-col gap-2 *:border-b-2 *:border-transparent *:text-xl *:duration-100 *:w-max">
            <h2 class="bg-violet-900 p-2 py-1 font-bold text-white">โรงเรียนพังเคนพิทยา</h2>
            <a href="http://www.pangkenpittaya.ac.th/" target="_blank" class="hover:border-b-violet-900">เว็ปไซต์</a>
            <a href="https://www.facebook.com/pk2526school" target="_blank" class="hover:border-b-violet-900">เฟซบุ๊ก</a>
        </nav>

        <nav class="flex w-max flex-col gap-2 *:border-b-2 *:border-transparent *:text-xl *:duration-100 *:w-max">
            <h2 class="bg-violet-900 p-2 py-1 font-bold text-white">เอกสาร</h2>
            <a href="/article.html?id=30001" class="hover:border-b-violet-900">นโยบายความเป็นส่วนตัว</a>
        </nav>
    </section>
</footer>

<div class="max-w-6xl mx-auto px-8 py-2 border-t text-sm text-violet-950">
    <p>&copy; 2024 PANGKENPITTAYA STUDENT COUNCIL, All Rights Reserved.</p>
    <p class="text-[10px]">Design and Development by <a href="https://www.nuttapolkhumdang.work" target="_blank" class="hover:underline">Nuttapol Khumdang</a></p>
</div>