<nav class="sticky top-0 z-50 mx-auto flex max-w-6xl items-center justify-between bg-white p-2 px-8">
    <a href="/" class="font-display">
        PKsc | <span class="font-sans">สภานักเรียนโรงเรียนพังเคนพิทยา</span>
    </a>

    <menu class="hidden md:block *:px-2 *:py-1 *:duration-100">
        <a href="/index.html" class="hover:bg-violet-900 hover:text-white">หน้าหลัก</a>
        <a href="/article.html?id=20001" class="hover:bg-violet-900 hover:text-white">นโยบาย</a>
        <a href="/members.html" class="hover:bg-violet-900 hover:text-white">สมาชิก</a>
        <a href="/index.html#__h__Announcements" class="hover:bg-violet-900 hover:text-white">ประกาศ | ข่าวสาร</a>
        <a href="/index.html#__h__Contact" class="hover:bg-violet-900 hover:text-white">ติดต่อเรา</a>
    </menu>

    <section class="md:hidden group">
        <span class="material-symbols-outlined">menu</span>
        <menu
            class="hidden group-hover:flex flex-col absolute left-0 w-full bg-white border-b pt-4 *:text-center *:text-xl *:px-8 *:py-2 *:duration-100">
            <a href="/index.html" class="hover:bg-violet-900 hover:text-white">หน้าหลัก</a>
            <a href="/article.html?id=20001" class="hover:bg-violet-900 hover:text-white">นโยบาย</a>
            <a href="/members.html" class="hover:bg-violet-900 hover:text-white">สมาชิก</a>
            <a href="/index.html#__h__Announcements" class="hover:bg-violet-900 hover:text-white">ประกาศ | ข่าวสาร</a>
            <a href="/index.html#__h__Contact" class="hover:bg-violet-900 hover:text-white">ติดต่อเรา</a>
        </menu>
    </section>
</nav>